SAVE THIS DOCUMENT!!!!
Hi %FIRST_NAME% %LAST_NAME%,
 
welcome to your new OpenStack account and the amazing world of cloud.
 
In order to use your shinny new environment, you can either manage your
environment via the slick web based user interface available here:
 
   http://%HORIZON_FQDN%

Credentials are:
 
Username: %USER_NAME%
Password: %PASSWORD%
 
We support both OpenStack and EC2 api calls, along with Swift and S3
storage APIs
 
Openstack credentials are available here:

   http://%HORIZON_FQDN%/settings/project/

EC2 credentials are available here:

   http://%HORIZON_FQDN%/settings/ec2/
 
Additional information is available here:

   http://%HORIZON_FQDN%/instructions/
 
User password changes are not currently available, so please keep your
current user access credentials secure!
 
Thanks,
Your friendly neighborhood OpenStack support team!
%SUPPORT_ADDRESS%

